table {
    border-collapse: separate;
    width: 40%;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: rgba(255, 0, 0, 0.3);}

th {
    background-color: lightcoral;
    color: white;
}